.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fffdf9;
    color: #FFF8F9;
    padding: 15px 5%;
    transition: 0.3s;
    position: fixed;
    /* z-index: 9999; */
}


.logo{
    font-size: 40px;
    color: #355135;
    filter: drop-shadow(0px 2px 3px #ffffff52);
    transition: 0.3s;
}

/* ul{
    float: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: Karma;
    font-size: 20px;
}
.toggle-icon{
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
} */



@media screen and (max-width: 550px){

.logo{
    font-size: 30px;
    color: #637d64;
    filter: drop-shadow(0px 2px 3px #ffffff52);
    transition: 0.3s;
}


}

