.body{
  background: #fffdf9;
  height: 100%;
  transition: 0.3s;
  min-height: 100%;
  padding-top: 6%;
  color: #FFF8F9;
  overflow-x: hidden;
}

.custom-shape-divider-top-1753192864 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1753192864 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 190px;
}

.custom-shape-divider-top-1753192864 .shape-fill {
    fill: #637d64;
    /* background: linear-gradient(#637d64, #344235, #263027, #1a201a, #060E0D); */

}


.Title{
    margin-left: 5%;
    margin-top: 6%;
    font-family: Karma;
    font-weight: normal;
    font-size: 30px;
    color: #355135;
}



.sara {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 15px;
    /* background-color: #060E0D; */
    color: #ffffff;
    font-family: Karma;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
  .saralogo img{
    border-radius: 50%;
    width: 200px;
    animation: glowAnimation 2s infinite ease-in-out;
  }


  @keyframes glowAnimation {
  0% {
    box-shadow: 0 0 5px #383b38;
  }
  70% {
    box-shadow: 0 0 20px #254225;
  }
  100% {
    box-shadow: 0 0 5px #383b38;
  }
}

  .typing{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .typing1{
    font-size: 40px;
    color: #060e08;
    white-space: nowrap;
    overflow: hidden;
    width: 14ch;
    animation: typing1 2s steps(14) forwards, blink 0.7s step-end infinite;
  }

  .typing2 {
    font-size: 40px;
    color: #060e08;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #0000003c;
    width: 19ch;
    animation: typing2 2.5s steps(19) forwards, blink 0.7s step-end infinite;
}
  @keyframes typing1 {
    from { width: 0; }
    to { width: 14ch; }
}

  @keyframes typing2 {
    from { width: 0; }
    to { width: 19ch; }
}

  @keyframes blink {
    50% { border-color: transparent; }
}


  .contact{
    width: 100%;
    /* float: right; */
    padding-right: 20%;
    padding-left: 20%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contactsquare{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: #637d64;
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    box-shadow: 0 0 5px rgba(11, 20, 11, 0.614);
  }

  .contactsquare a:hover svg {
    opacity: 0.15;
    transition: .2s ease;
}



  .contacttable{
    width: 100%;
    table-layout: auto;
  }

  .resume{
    width: 47%;
    float: left;
    margin-left: 3%;
  }

  .resumesquare{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: #637d64;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: center;
    box-shadow: 0 0 5px rgba(11, 20, 11, 0.614);
  }

  .CV{
    line-height: 30px;
    text-decoration: none; 
    color: #ffffff;
    font-family: Karma;
  }


  .aboutsquare{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    padding: 10px;
    border-radius: 15px;
    /* background-color: #060E0D; */
    color: #060e08;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
  }



  .Skillsquare {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    /* background-color: #060E0D; */
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .skills{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: #060E0D;
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
    box-shadow: 
    0 -5px 3px rgba(105, 190, 105, 0.183),
    1px 0 4px rgba(199, 208, 199, 0.005),
    -1px 0 4px rgba(199, 208, 199, 0.005);
  }

  .skillimg{
    height: 90px;
  }

  .skillname{
    color: #ffffff;
    font-size: 15px;
  }

  .row::after {
    display: table;
    margin-bottom: 5%;
  }
    
  .column {
      /* flex: 50%; */
      width: 100%;
      padding-right: 5%;
      padding-left: 0%;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .edu{
      width: 100%;
      /* float: right; */
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .edu2{
      width: 70%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 2%;
      padding: 10px 5px 10px 5px;
      border-radius: 15px;
      background-color: #637d64;
      color: #ffffff;
      font-family: Karma;
      font-size: 20px;
      letter-spacing: 2px;
      display: flex;
      flex-direction: row;
      text-align: center;
      line-height: 1.5;
      box-shadow: 0 0 5px rgba(11, 20, 11, 0.614);
  }

  .eduimg{
    height: auto;
    /* margin: 15%; */
    border-radius: 15px;
    /* box-shadow: 0 0 5px rgba(11, 20, 11, 0.614); */
  }

  .eduname{
      font-family: Karma;
      font-size: 15px;
      padding-top: 15%;
      padding-left: 5%;
      color: #ffffff;
  }

  .greensquare{
    background-color: #cdcfcd56;
    padding: 0 0 1% 0;
  }


  .exp square {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    /* background-color: #060E0D; */
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .exp{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: #637d64;
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 0 5px rgba(11, 20, 11, 0.614);
  }

  .expimg{
    height: 90px;
  }

  .expname{
    color: #ffffff;
    font-size: 13px;
  }



  .cousquare {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 15px;
    border-radius: 15px;
    /* background-color: #060E0D; */
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    position: relative; /* مهم جداً */
    overflow: hidden; /* يمنع الكروت تطلع فوق */
    text-align: center;
  }

  .couimg{
    height: 90px;
  }

  .couname{
    color: #ffffff;
    font-size: 13px;
  }

  .coursesScroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

  .arrow {
    position: absolute;
    top: 50%;
    font-size: 28px;
    color: #355135;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
  }

  .arrow.left {
    left: 5px;
  }

  .arrow.right {
    right: 5px;
  }

  .cou {
    min-width: 240px;
    width: 90%;
    margin: 2% 0 2% 0;
    padding: 10px;
    border-radius: 15px;
    background-color: #637d64;
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 0 5px rgba(11, 20, 11, 0.614);
    text-align: center;
  }

  .slick-slide {
    padding: 0 15px; 
  }

  .slick-list {
  margin: 0 -10px;
  }





  .languagessquare{
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    background-color: #637d64;
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
    box-shadow: 0 0 5px rgba(11, 20, 11, 0.614);

  }

  .STEP{
    font-family: Karma;
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
  }



  .table{
    width: 100%;
  }

  table tr th{
    font-family: Karma;
    font-weight: normal;
  }
  
  p{
    font-family: Karma;
  }


  .footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0px;
    padding: 50px;
    margin-top: 5%;
    background: #637d64;
    color: #FFF8F9;
    transition: 0.3s;
  }


  .footer h1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Karma;
  }

  





@media screen and (max-width: 700px){



  .saralogo img{
    border-radius: 50%;
    width: 150px;
    animation: glowAnimation 2s infinite ease-in-out;
  }


.footer h1{
    font-size: 15px;
}  


.body{
  padding-top: 30%;
}

  .typing1{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    width: 14ch;
    animation: typing1 2s steps(14) forwards, blink 0.7s step-end infinite;
  }

  .typing2 {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #ffffff3c;
    width: 19ch;
    animation: typing2 2.5s steps(19) forwards, blink 0.7s step-end infinite;
}

  .contact{
    padding-right: 35%;
    padding-left: 35%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactsquare{
    font-size: 15px;
  }


  
  .aboutsquare{
    font-size: 20px;
  }



.Skillsquare {
    font-size: 20px;
  }

  .skills{
    font-size: 20px;
  }

  .skillimg{
    height: 70px;
  }

  .skillname{
    font-size: 15px;
  }

  
.column {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.edu2{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.eduimg{
  height: auto;
}

.eduname{
    font-family: Karma;
    font-size: 15px;
    padding-top: 15%;
    padding-left: 5%;
}


.expsquare {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 15px;
    color: #ffffff;
    font-family: Karma;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .exp{
    font-size: 20px;
    text-align: center;
  }

  .expimg{
    height: 90px;
  }

  .expname{
    color: #ffffff;
    font-size: 13px;
  }


.cou {
    min-width: 200px;
    padding: 12px;
    font-size: 18px;
  }

  .couimg {
    height: 80px;
  }

  .arrow {
    font-size: 24px;
  }



  .languagessquare{
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}




@media screen and (max-width: 550px){



.Title{
  font-size: 25px;
}



.saralogo img{
  border-radius: 50%;
  width: 130px;
  animation: glowAnimation 2s infinite ease-in-out;
}


.footer h1{
    font-size: 15px;
}  


.body{
  padding-top: 30%;
}

  .typing1{
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    width: 14ch;
    animation: typing1 2s steps(14) forwards, blink 0.7s step-end infinite;
  }

  .typing2 {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #ffffff3c;
    width: 19ch;
    animation: typing2 2.5s steps(19) forwards, blink 0.7s step-end infinite;
}

  .contact{
    padding-right: 20%;
    padding-left: 20%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactsquare{
    font-size: 15px;
    }

  
  .aboutsquare{
    font-size: 15px;
  }



.Skillsquare {
    font-size: 15px;
  }

  .skills{
    font-size: 15px;
  }

  .skillimg{
    height: 60px;
  }

  .skillname{
    font-size: 15px;
  }

  
.column {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edu2{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eduimg{
  height: 150px;
}

.eduname{
    font-family: Karma;
    font-size: 15px;
    padding-top: 15%;
    padding-left: 5%;
}


.expsquare {
    font-size: 15px;
  }

  .exp{
    font-size: 15px;
    text-align: center;
  }

  .expimg{
    height: 70px;
  }

  .expname{
    font-size: 15px;
  }



  .cou {
    min-width: 180px;
    padding: 10px;
    font-size: 16px;
  }

  .couimg {
    height: 70px;
  }

  .arrow {
    font-size: 22px;
  }



  .languagessquare{
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }


}




@media screen and (max-width: 400px){



.Title{
  font-size: 25px;
}



.saralogo img{
  border-radius: 50%;
  width: 130px;
  animation: glowAnimation 2s infinite ease-in-out;
}


.footer h1{
    font-size: 13px;
}  


.body{
  padding-top: 30%;
}

  .typing1{
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    width: 14ch;
    animation: typing1 2s steps(14) forwards, blink 0.7s step-end infinite;
  }

  .typing2 {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #ffffff3c;
    width: 19ch;
    animation: typing2 2.5s steps(19) forwards, blink 0.7s step-end infinite;
}

  .contact{
    padding-right: 20%;
    padding-left: 20%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactsquare{
    font-size: 15px;
    }

  
  .aboutsquare{
    font-size: 15px;
  }



.Skillsquare {
    font-size: 15px;
  }

  .skills{
    font-size: 15px;
  }

  .skillimg{
    height: 60px;
  }

  .skillname{
    font-size: 15px;
  }

  
.column {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edu2{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eduimg{
  height: 150px;
}

.eduname{
    font-family: Karma;
    font-size: 15px;
    padding-top: 15%;
    padding-left: 5%;
}


.expsquare {
    font-size: 15px;
  }

  .exp{
    font-size: 15px;
    text-align: center;
  }

  .expimg{
    height: 70px;
  }

  .expname{
    font-size: 15px;
  }



  .cou {
    min-width: 160px;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .couimg {
    height: 60px;
  }

  .arrow {
    font-size: 20px;
  }



  .languagessquare{
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }


}



